{% extends "index.html" %}
{% block bodyblock %}
<div class="post">
					<div class="post-bgtop">
						<div class="post-bgbtm">
							<h2 class="title"><a href="#">About</a></h2>
                            <p>Think of NotesHub as the best study group ever.
                            <p>NotesHub is a tool for sharing the schoolwork you make with with the rest of the world! If you're a college student, you can help out your classmates and your compatriots at other schools around the world by sharing the valuable notes you take, papers you write and problem sets you solve.
                            The point of college is to learn something, and we want to make learning easier! Technology has the power to make people so much smarter, but people aren't using it well enough yet! We think this is a good start.
                            <p>We know you've got some questions. <b>Won't this hurt my curved grade?</b>  If you're worried about sharing notes hurting your grade, wait until after your semester is over to upload them. If you're worried about the next years students getting better grades than you,
                            remember, that's a <i>good thing</i>. That means that the educational system is working - as we refine our teaching methods and improve our access to knowledge, each year <i>should</i> be better than the last.
                            <p><b>Isn't this cheating?</b> No! Cheating is taking somebody else's work and claiming it as your own. If you take an essay from NotesHub and put your own name on it, what you
                            are doing is wrong. It isn't wrong, however, to look at another student's work and <i>learn</i> from it. See what makes a good essay good and a bad essay bad. Take their <i>ideas</i>, not their words, and make them your own. Critique them and expand upon them. That's what education is supposed to be like.
                            <p>There are no barriers to entry on NotesHub - anybody can download and post anything, for free! There are no registrations, no required uploads, no pyramid schemes, no cash involved.
                            This is run as a completely free service, and all of the content is licensed under a Creative Commons license.
                            <p>We have no other motivation other than helping each other. We are not a startup company and we do not make any money off of advertising - we are just college students who want to make life a bit easier for everybody.
                            <p>In this regard, it is a lot like Wikipedia or the Linux kernel. In fact, even the code that runs code that runs this website is Free and Open Source (availble for download <a href="https://github.com/Miserlou/UniShare">on the GitHub page here</a>),
                            so that anybody can make their own content sharing website.
							<p>NotesHub is a project of the <a href="http://freeculture.org">Students for Free Culture</a>, an international student organization working to promote free culture ideals, such as liberalization of copyright laws, open government, cultural participation and access to information.
                            <p>You can help improve NotesHub in a number of different ways. The fastest thing you can do is simply to <a href="/upload">submit your own notes!</a>.
                            <p>The next best thing you can do is tell other people about NotesHub! Get on FaceBook, Twitter, AIM, Diaspora or whatever social services you use and tell your friends! The more people that know about NotesHub, the better it is for everybody!
                            <p>Finally, if you're <i>really</i> cool, you can write about NotesHub for your college news papger. Get a dialog going - that's the whole idea here, to start a conversation about the ways that access to information is affecting our academic lives. 
                            <p>Thanks for using NotesHub!
							<br /><br /></br />
							</div>
						</div>
					</div>
				</div>
{% endblock %}
