{% extends "index.html" %}
{% block bodyblock %}
<div class="post">
					<div class="post-bgtop">
						<div class="post-bgbtm">
							<h2 class="title"><a href="#">About</a></h2>
                            NotesHub is a tool for sharing coursework within and
							across schools.  Its aim is to make learning easier
							by promoting the spread of effective learning
							methods and by invalidating ineffective teaching
							styles.

							<br />
							<br />
							<br />
							NotesHub is maintained by Students For Free Culture,
							and chiefly by Rich Jones.  It is written in django.
							<br /><br /></br />
							</div>
						</div>
					</div>
				</div>
{% endblock %}
