{% extends "index.html" %}
{% block bodyblock %}
<div class="post">
					<div class="post-bgtop">
						<div class="post-bgbtm">
							<h2 class="title"><a href="#">All Courses At {{school}}</a></h2>
							<div id="largelink">
                            <ul>
                            {% for class in classes %}
                                {% if class != '' and class != None %}
								<li>&bull; 	<a href="/school/{{school}}/course/{{class}}" >{{class}}</a></li>
                                {% endif %}
                            {% empty %}
                                Nothing uploaded yet! <br /><br /><br /><br /><br /><br /><br /><br />
                            {% endfor %}
                            </ul>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
							</div>
						</div>
					</div>
				</div>
{% endblock %}
