{% extends "index.html" %}
{% block bodyblock %}
<div class="post">
					<div class="post-bgtop">
						<div class="post-bgbtm">
							<h2 class="title"><a href="#">Contact</a></h2>
                            <p>We'd love to get any feedback you have! Have you shown NotesHub to anybody - how did they react? Did your school newspaper give some press to NotesHub?
                            <p>You can email the main developer of NotesHub at rich [aatt] anomos [[dot]] info
                            <p>The source code to NotesHub is available here: <a href="https://github.com/Miserlou/UniShare">GitHub:Miserlou</a>
                            <p>To talk to other people interested in Free Culture, you can <a href="http://lists.freeculture.org/mailman/listinfo/discuss">subscribe to the Free Culture mailing list</a>.
                            <p>If you are a programmer and you want to work on this site or another Free Culture project, join the <a href="http://lists.freeculture.org/mailman/listinfo/fc-hackers">FC-Hackers Mailing List here</a>.
                            <p>We can also be found on the FreeNode IRC network in channel #freeculture
                            <br />
							</div>
						</div>
					</div>
				</div>
{% endblock %}
