<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Vertebrate 
Version    : 1.0
Released   : 20100428
Description: A two-column fixed-width template suitable for small websites.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>NotesHub</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/default.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/jquery/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/static/jquery/jquery.slidertron-0.1.js"></script>
</head>
<body>
<div id="wrapper">
<div id="header">
	<div id="logo">
		<h1><a href="/"> NotesHub </a></h1>
		<h2><a href="/">Students Helping Students</a></h2>
	</div>
	<!-- end div#logo -->
	<div id="menu">
		<ul>
			<li {% if cat == "main" %} class="active" {% endif %}><a href="/">Home</a></li>
			<li {% if cat == "upload" %} class="active" {% endif %}><a href="/upload">Upload</a></li>
			<li {% if cat == "about" %} class="active" {% endif %}><a href="/about">About</a></li>
			<li {% if cat == "contact" %} class="active" {% endif %}><a href="/contact">Contact</a></li>
		</ul>
	</div>
	<!-- end div#menu -->
</div>
<div>
	<div id="page">
		<div id="page-bgtop">
			<div id="content">

				{% block bodyblock %}

                {% endblock %}
			</div>
			<!-- end div#content -->
			<div id="sidebar">
				<div id="sidebar-bgtop">
					<div id="sidebar-bgbtm">
						<ul>
							<li id="search">
								<h2>About</h2>
                                    NotesHub is a place where students can share notes, papers and other educational materials with each other. The content here is 100% free and 100% submitted by students. If you are helped by this website, please consider <a href="/upload">submitting your own materials</a>.
							</li>
							<li>

						</ul>
					</div>
				</div>
			</div>
			<div id="sidebar">
				<div id="sidebar-bgtop">
					<div id="sidebar-bgbtm">
						<ul>
							<li id="search">
								<h2>Search</h2>
								<form method="get" action="">
									<fieldset>
										<input type="text" id="seach-text" name="s" value="" />
										<input type="submit" id="search-submit" value="Search" />
									</fieldset>
								</form>
							</li>
							<li>
								<h2>Recent Uploads</h2>
								<ul>
									<li><a href="#">Fusce dui neque fringilla</a></li>
									<li><a href="#">Eget tempor eget nonummy</a></li>
									<li><a href="#">Magna lacus bibendum mauris</a></li>
									<li><a href="#">Nec metus sed donec</a></li>
									<li><a href="#">Magna lacus bibendum mauris</a></li>
									<li><a href="#">Velit semper nisi molestie</a></li>
									<li><a href="#">Eget tempor eget nonummy</a></li>
								</ul>
							</li>
							<li>
								<h2>Popular Documents</h2>
								<ul>
									<li><a href="#">Nec metus sed donec</a></li>
									<li><a href="#">Magna lacus bibendum mauris</a></li>
									<li><a href="#">Velit semper nisi molestie</a></li>
									<li><a href="#">Eget tempor eget nonummy</a></li>
									<li><a href="#">Nec metus sed donec</a></li>
									<li><a href="#">Magna lacus bibendum mauris</a></li>
									<li><a href="#">Velit semper nisi molestie</a></li>
								</ul>
							</li>

						</ul>
					</div>
				</div>
			</div>
			<!-- end div#sidebar -->
			<div style="clear: both; height: 1px"></div>
		</div>
	</div>
	<!-- end div#page -->
</div>
<!-- end div#wrapper -->
<div id="footer-wrapper">
	<div id="footer">
		<p id="legal">NotesHub is made by <a href="http://www.freeculture.org">Students for Free Culture</a></p>
		<p id="links">All content is available under the Creative Commons Attribution license.</p>
	</div>
</div>
<!-- end div#footer -->
</body>
</html>
