{% extends "index.html" %}
{% block bodyblock %}
<div class="post">
					<div class="post-bgtop">
						<div class="post-bgbtm">
							<h2 class="title"><a href="#">Upload a Document!</a></h2>
                    <p><form enctype="multipart/form-data" action="/upload/" method="post">
    {% csrf_token %}

		<div class="fieldWrapper">
          <div class="formlabel">
		    <label for="doc_file">Document</label>
          </div>
          <div class="formfield">
		    {{ form.doc_file}}
		    {{ form.doc_file.errors }}
		  </div>
	  </div><br>

		<div class="fieldWrapper">
          <div class="formlabel">
		  <label for="name">Title</label>
          </div>
          <div class="formfield">
		  {{ form.name}}
		  {{ form.name.errors }}
		  </div>
	  </div><br>

		<div class="fieldWrapper description">
          <div class="formlabel">
		    <label for="description">Description</label>
          </div>
          <div class="formfield">
		    {{ form.description}}
		    {{ form.description.errors }}
		  </div>
	  </div><br>

		<div class="fieldWrapper">
          <div class="formlabel">
		    <label for="year">Year</label>
          </div>
          <div class="formfield">
		    {{ form.year}}
		    {{ form.year.errors }}
		  </div>
	  </div><br>

		<div class="fieldWrapper">
          <div class="formlabel">
		    <label for="year">Semester</label>
          </div>
          <div class="formfield">
		    {{ form.semester}}
		    {{ form.semester.errors }}
		  </div>
	  </div><br>

		<div class="fieldWrapper">
          <div class="formlabel">
		    <label for="year">School</label>
          </div>
          <div class="formfield">
		    {{ form.school}}
		    {{ form.school.errors }}
		  </div>
	  </div><br>

		<div class="fieldWrapper">
          <div class="formlabel">
		  <label for="year">Course</label>
          </div>
          <div class="formfield">
		    {{ form.course}}
		    {{ form.course.errors }}
		  </div>
	  </div><br>

		<div class="fieldWrapper">
          <div class="formlabel">
		  <label for="year">Professor</label>
          </div>
          <div class="formfield">
		    {{ form.professor}}
		    {{ form.professor.errors }}
		  </div>
	  </div><br>

        {% if form.captcha %}
		<div class="fieldWrapper">
          <div class="formlabel">
		    <label for="location">Verification</label>
          </div>
          <div class="formfield">
		    {{ form.captcha}}
		    {{ form.captcha.errors }}
		  </div>
	  </div><br>
        {%endif%}
      <div class="fieldWrapper">
          <div class="formlabel">
		    <!--just a space-->
		    &nbsp;
          </div>
          <div class="formfield">
		    <input type="submit" value="Upload!" />
		  </div>
	  </div><br>
</form>
							</div>
						</div>
					</div>
				</div>
{% endblock %}
