{% extends "index.html" %}
{% block bodyblock %}
<div class="post">
					<div class="post-bgtop">
						<div class="post-bgbtm">
							<h2 class="title"><a href="#">About</a></h2>
                            ShareUni is blah blah blah...<br /><br /></br />
                            ShareUni is blah blah blah...<br /><br /></br />
                            ShareUni is blah blah blah...<br /><br /></br />
                            ShareUni is blah blah blah...<br /><br /></br />
                            ShareUni is blah blah blah...<br /><br /></br />
                            ShareUni is blah blah blah...<br /><br /></br />
							</div>
						</div>
					</div>
				</div>
{% endblock %}
