{% extends "index.html" %}
{% block bodyblock %}
<div class="post">
					<div class="post-bgtop">
						<div class="post-bgbtm">
							<h2 class="title"><a href="#">Content From All Universities</a></h2>
							<div id="largelink">
                            <ul>
								<li>&bull; 	<a href="#" >Boston University</a></li>
								<li>&bull; 	<a href="#" >Dartmouth University</a></li>
								<li>&bull; 	<a href="#" >Harvard University</a></li>
								<li>&bull; 	<a href="#" >George Washing University</a></li>
								<li>&bull; 	<a href="#" >Boston College</a></li>
								<li>&bull; 	<a href="#" >Pennsylvania State University</a></li>
                            </ul>
                        <br />
							</div>
						</div>
					</div>
				</div>
{% endblock %}
