{% extends "index.html" %}
{% block bodyblock %}
<div class="post">
					<div class="post-bgtop">
						<div class="post-bgbtm">
							<h2 class="title"><a href="#">Content From All Universities</a></h2>
							<div id="largelink">
                            <ul>
                            {% for school in schools %}
                                {% if school != '' %}
								<li>&bull; 	<a href="/{{school.name}}" >{{school.name}}</a></li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
							</div>
						</div>
					</div>
				</div>
{% endblock %}
