{% extends "index.html" %}
{% block bodyblock %}
<div class="post">
					<div class="post-bgtop">
						<div class="post-bgbtm">
							<h2 class="title"><a href="#">Contact</a></h2>
                            Contact the admins at admins@ourwebsitedomainname.com blah <br />
                            Contact the admins at admins@ourwebsitedomainname.com blah <br />
                            Contact the admins at admins@ourwebsitedomainname.com blah <br />
                            Contact the admins at admins@ourwebsitedomainname.com blah <br />
                            Contact the admins at admins@ourwebsitedomainname.com blah <br />
                            Contact the admins at admins@ourwebsitedomainname.com blah <br />
                            Contact the admins at admins@ourwebsitedomainname.com blah <br />
                            Contact the admins at admins@ourwebsitedomainname.com blah <br />
                            Contact the admins at admins@ourwebsitedomainname.com blah <br />
                            Contact the admins at admins@ourwebsitedomainname.com blah <br />
                            Contact the admins at admins@ourwebsitedomainname.com blah <br />
                            Contact the admins at admins@ourwebsitedomainname.com blah <br />
                            Contact the admins at admins@ourwebsitedomainname.com blah <br />
                            Contact the admins at admins@ourwebsitedomainname.com blah <br />
                            Contact the admins at admins@ourwebsitedomainname.com blah <br />
                            Contact the admins at admins@ourwebsitedomainname.com blah <br />
                        <br />
							</div>
						</div>
					</div>
				</div>
{% endblock %}
